<h1><%=@blogger.name%></h1>

<h3>Age:</h3>
<p><%=@blogger.age%></p>
<br>
<h3>Bio:</h3>
<p><%=@blogger.bio%></p>

<p> Total Likes: <%=@blogger.total_likes%></p>
<p>Featured Post: <%=link_to(@blogger.most_liked_post.title, @blogger.most_liked_post) %></p>

<p>Most Frequent Destinations </p>
<%@blogger.most_frequent_destinations.each do |destinations|%>
<ul>
<li>
<%=destinations%>
</li>
</ul>
<%end%>
