<h1><%=@destination.name%></h1>

<h3>Country:</h3>
<p><%=@destination.country%></p>
<p>Featured Post: <%=link_to(@destination.most_liked_post.title, @destination.most_liked_post) %></p>
<p>Average Blogger Age: <%=@destination.average_blogger_age%></p>

<p>Most Recent Posts</p>
<%@destination.most_recent_posts.each do |post|%>
<ul>
<li>

<%=link_to(post.title, post)%>
</li>
</ul>
<%end%>
