<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=link_to("All Posts", posts_path)%>
    <%=link_to("All Destinations", destinations_path)%>
    <%=link_to("All Bloggers", bloggers_path)%>

    <%= yield %>
    <br><br>
    <%=link_to("All Posts", posts_path)%>
    <%=link_to("All Destinations", destinations_path)%>
    <%=link_to("All Bloggers", bloggers_path)%>
  </body>
</html>
